@model IEnumerable<MVCCore.MongoDB.CRUD.Models.Drone>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DroneName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlyDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientMail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DroneName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlyDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEvent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientMail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id}) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
